[class*="span"] {
    float: left;
    margin-left: 0px;
    min-height: 1px;
}

#container {
    padding: 5px;
}

.left-sidebar {
    border: 1px solid #d9d9d9;
    width: 99%;
    padding: 10px;

    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
}

#confirm_order {
    width: 700px;
    margin: 0 auto;
    padding: 7px;
    border: 1px solid #002a80;
    border-radius: 10px;
    background-color: #f7ecb5;
    box-shadow: 0 5px 5px rgba(0,0,0,0.5);
}

@media (min-width: 1129px) {

    .left-sidebar {
        margin: 0 auto;
        max-width: 1200px;
    }

}

.control-group {
    padding: 5px;
    background-color: #e1edf7;
}

.after_print {
    background-color: #D4E7A5;
}

.control-group:hover {
    background-color: #f2dede;
    box-shadow: 0 0 5px rgba(0,0,0,0.5); /* Параметры тени */
    -webkit-transition: 0.7s;-moz-transition: 0.7s;-ms-transition: 0.7s;-o-transition: 0.7s;transition: 0.7s;
}

.label_info {
    color: green;
}

#main_setting {
    margin-right: 10px;
    /*width: 49%;*/
    float: left;
}

#after_print_settings {
    /*width: 49%;*/
    float: left;
}

.radio_ch {
    width: 18px !important;
}

.hidden-options {
    /*display: none;*/
}

h6 {
    font-size: 14px;
    color: #002a80;
}

/* /////////////////////////////// CUSTOMIZATION /////////////////////////// */

input[type="checkbox"],
input[type="radio"] {
    display: none;
}

input[type="checkbox"] + label,
input[type="radio"] + label {
    font: 18px bold;
    color: #444;
    cursor: pointer;
}

input[type="checkbox"] + label::before,
input[type="radio"] + label::before {
    content: "";
    display: inline-block;
    height: 18px;
    width: 18px;
    margin: 0 5px 0 0;
    background-image: url(../img/sprite.png);
    background-repeat: no-repeat;
}

input[type="checkbox"] + label::before {
    background-position: -38px -260px;
}

input[type="radio"] + label::before {
    background-position: 0px -279px;
}

input[type="checkbox"]:checked + label::before {
    background-position: -114px -260px;
}

input[type="radio"]:checked + label::before {
    background-position: -108px -279px;
}

input[type="checkbox"]:disabled + label::before {
    background-position: -152px -260px;
}

input[type="checkbox"]:checked:disabled + label::before {
    background-position: -171px -260px;
}

input[type="radio"]:disabled + label::before {
    background-position: -144px -279px;
}

input[type="radio"]:checked:disabled + label::before {
    background-position: -162px -279px;
}

​